<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049575251553-bbp2cg2fs86ldm3do1ha9tnrhk9c0jis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049575251553-bbp2cg2fs86ldm3do1ha9tnrhk9c0jis</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1049575251553-oc6nlnj1udgn8ibenge8tuk97i9qh36o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSHV7RzUGliYFpFITy2PLBTScKypECUL4</string>
	<key>GCM_SENDER_ID</key>
	<string>1049575251553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sukitech.ganbanking</string>
	<key>PROJECT_ID</key>
	<string>ganbanking-46b0a</string>
	<key>STORAGE_BUCKET</key>
	<string>ganbanking-46b0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049575251553:ios:782717f2cba562abaf9420</string>
</dict>
</plist>